<body class="container-fluid footer">
    <!-- <div class="container-fluid footer"> -->
        <div class="row card-columns">
            <!-- Nombre de la pagina -->
            <div class="col-lg-5 card-columns">
                <h1>Ferretería Froog</h1>
                <div class="col-lg-8">
                    <p>Herramientas, para las mejores personas</p>
                </div>
            </div>    
            <!-- barra de navegación -->
            <div class="col-lg-6">
                <a routerLink="/iniciarsesion"><img src="assets/login.svg" title="Login" style="width: 25px;" alt=""></a>
                <a routerLink="/home"><img src="assets/home.svg" title="Home" style="width: 25px;" alt=""></a>
                <a routerLink="/about"><img src="assets/about.svg" title="About" style="width: 25px;" alt=""></a>                
                <a routerLink="/generarQR"><img src="assets/QR.svg" title="Codigo QR" style="width: 25px;" alt=""></a>
                <a routerLink="" class="text-white me-4"><img src="assets/googleicon.png" title="Google Login" style="width:20px ;" alt=""></a>
                <a routerLink="" class="text-white me-4"><img src="assets/fbicon.png" title="FB Login" style="width:20px ;" alt=""></a>       
                <div  class="text-white mb-3 col-lg-8">
                    <div class="d-flex justify-content-center align-items-center">
                        <h3>Copyright © 2022. All rights reserved.</h3>
                    </div>                    
                </div>
            </div>
            <!-- socialmedia  -->                    
        </div>
    <!-- </div> -->
</body>