<!--METER LAS COSAS EN EL SECTION PARA EL BACKGROUND CHIDO-->
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700" rel="stylesheet" type="text/css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="./about.component.css" />
</head>
<body>
  <div class="gradient-custom">
  <section class="ftco-section ">
    
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 mb-5">
          <h2 class="heading-section" role="text" ><b style="color: #F77E21;">➤ </b>Contacto</h2>
          <h4 class="heading-section" role="text" >Herramientas, para las mejores personas.</h4>
          <p class="heading-section" role="text" >Si tienes alguna pregunta, déjanos tus datos o llámanos, nos pondremos en contacto contigo lo antes posible.</p>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
          <div class="wrapper">
            <div class="row no-gutters">
              <div class="col-md-7 d-flex align-items-stretch">
                <div class="contact-wrap w-100 p-lg-5 p-4">
                  <h3 class="mb-4">¡Escríbenos!</h3>
                  
                  <form id="contactForm" name="contactForm" [formGroup]="forma" (ngSubmit)="send(forma.value)">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" class="form-control" name="Nombre" placeholder="Nombre"  formControlName="fullname"  required id="name"/>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="email" class="form-control" name="Email" id="email" placeholder="Email" formControlName="mail"  required id="email" />
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-group">
                            <select class="form-control" formControlName="type" role="form" aria-label="Elige Una Opcion">
                                <option selected>Asunto</option>
                                <option value="ventas">Ventas por internet</option>
                                <option value="fisicas">Tiendas fisicas</option>
                            </select>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-group">
                          <textarea role="textbox "name="message" class="form-control" id="message" cols="30" rows="7" placeholder="Message" formControlName="message" required id="mensaje" ></textarea>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-group">
                          <button type="submit"  (click)="enviarDatos()" value="Send Message" class="btn btn-primary" [disabled]="forma.invalid">
                            Enviar
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>

                </div>
              </div>
              
              <div class="col-md-5 d-flex align-items-stretch">
                <div class="info-wrap bg-primary w-100 p-lg-5 p-4">
                  <h3 class="mb-4 mt-md-4">Contactanos</h3>
                  <div class="dbox w-100 d-flex align-items-start">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <a href="https://g.page/UAAmexico?share" class="text-white me-4" target="_blank" rel="noopener noreferrer"><img src="../../assets/About/house-door.svg" title="Maps" style="width:40px ;" ></a>
                    </div>
                    <div class="text pl-3">
                      <p>
                        <span><b style="color:#F77E21 ;">Address </b> </span> Av. Universidad #940 
                        Aguascalientes, México.
                      </p>
                    </div>
                  </div>
                  <div class="dbox w-100 d-flex align-items-center">
                    <div
                      class="icon d-flex align-items-center justify-content-center">
                      <a href="https://api.whatsapp.com/send?phone=+524492569709&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n" class="text-white me-4" target="_blank" rel="noopener noreferrer"><img src="../../assets/About/telephone-forward.svg" title="WhatsApp" style="width:40px ;" alt=""></a>
                    </div>
                    <div class="text pl-3">
                      <p>
                        <span><b style="color:#F77E21 ;">Telefono </b></span>
                        <a href="tel://+524491294670"> +52 449 129 46 70</a>
                      </p>
                    </div>
                  </div>
                  <div class="dbox w-100 d-flex align-items-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <a routerLink="" class="text-white me-4"><img src="../../assets/About/envelope.svg" title="Correo" style="width:40px ;" alt=""></a>
                    </div>
                    <div class="text pl-3">
                      <p>
                        <span><b style="color:#F77E21 ;">Email </b></span>
                        <a href="mailto:@yoursite.com">ventas@pepeferreteria.com</a>
                      </p>
                    </div>
                  </div>
                  <div class="dbox w-100 d-flex align-items-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <a routerLink="" class="text-white me-4"><img src="../../assets/About/globe.svg" title="Pagina Principal" style="width:40px ;" alt=""></a>
                    </div>
                    <div class="text pl-3">
                      <p><span><b style="color: #f77E21;">Website </b></span> <a href="#">PepeFerreteria.com</a></p>                                          
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

</body>
