<body>
  <section class="vh-100 gradient-custom">
    <div  class="vh-100 Login">
    <section class="container-fluid" id="containerlogin">
      <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="imgdx col-sm-12 col-md-9 col-lg-6 col-xl-4">
            <img src="/assets/LogoFerreFroog.png"
              class="container-fluid" title="Ferreteria Froog" alt="Logo">
          </div>
          <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <form class="divxd">
              <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                <p class="lead fw-normal mb-0 me-3">Inicia Sesion con</p>
                <button type="button" (click)="redirigir()" class="btn btn-light btn-floating mx-1" role="button" aria-label="Google">
                  <img src="/assets/telefonoicon.png" width="15px" height="15px">
                </button>
    
        
              </div>
    
              <div class="divider d-flex align-items-center my-4">
                <p class="text-center fw-bold mx-3 mb-0">O</p>
              </div>
    
              <!-- Email input -->
              <div class="form-outline mb-4" role="form" aria-label="Email">
                <input type="email"  class="form-control form-control-lg" [(ngModel)]="Pam1"  [ngModelOptions]="{standalone: true}"/>
                <label class="form-label" >Email</label>
              </div>
    
              <!-- Password input -->
              <div class="form-outline mb-3" role="form" aria-label="Contraseña">
                <input type="password"  class="form-control form-control-lg"  [(ngModel)]="Pam2"   [ngModelOptions]="{standalone: true}" required />
                <label class="form-label" >Contraseña</label>
              </div>
                                
              <div class="text-center text-lg-start mt-4 pt-2">
                
                <button type="button" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;" role="Button" routerLink="/home" (click)="Ingresar()">Login</button>
                
                <p class="small fw-bold mt-2 pt-1 mb-0">No tienes una cuenta? <a   class="nav-link" routerLink="/register"
                    class="link-danger">Registrate</a></p>
              </div>
    
            </form>
          </div>
        </div>
      </div>  
    </section>
    </div>
    </section>
</body>
