<body>
  <section class="divxd ftco-section vh-100 gradient-custom"> <!--METER LAS COSAS EN EL SECTION PARA EL BACKGROUND CHIDO--> 
    <h2 role="text">Codigo QR</h2>
    
    <div>
      <qr-code role="img" [value]="values" [size]="width" [level]="level"></qr-code> 
      <br>
    </div>
    <div>
    <label role="text">
      
      <input role="form" [(ngModel)]="values"  readonly/>
    
    </label>
    </div>
    <div>
    <br />
    
    <strong></strong>
    <button role="button" type="button" class="btn btn-primary" (click)="qrData(this.aleatorio())">Generar</button>
    
    
    
    </div>
  </section>    
</body>
