<div class="card">
  <h5 class="card-header" style="background-color: #F77E21;">Q.¿CUÁLES SON LOS SERVICIOS QUE NECESITAMOS OFRECER EN EL NEGOCIO?</h5>
  <div class="card-body" style="text-align:left;background-color:antiquewhite;">
    <h5 class="card-title">ANSWER:</h5>
    <p class="card-text">NOSOTROS EJERCEMOS LOS SERVICIOS DE VENTA DE PRODUCTOS DE FERRETERIA EN GENERAL A TODO EL PUBLICO CON LOS MEJORES PRECIOS DEL MERCADO.</p>
  </div>
</div>
<br>
<br>
<div class="card">
    <h5 class="card-header" style="background-color: #F77E21;text-align: right;">Q.¿LOS PRECIOS DE LOS PRODUCTOS SON ADECUADOS?</h5>
    <div class="card-body"  style="text-align:right;background-color:antiquewhite;">
      <h5 class="card-title" >ANSWER:</h5>
      <p class="card-text">NUESTROS PRECIOS SON COMPETITIVOS EN EL MERCADO ACTUAL DE LA FERRETERIA, TAMBIEN REALIZAMOS VARIOS DESCUENTOS A NUESTROS CLIENTES FRECUENTES.</p>
    </div>
  </div>
  <br>
  <br>
  <div class="card">
    <h5 class="card-header" style="background-color: #F77E21;">Q.¿LOS EMPLEADOS TIENEN CONOCIMIENTO SOBRE LOS PRODUCTOS Y SU USO?</h5>
    <div class="card-body" style="text-align:left;background-color:antiquewhite;">
      <h5 class="card-title" >ANSWER:</h5>
      <p class="card-text">NUESTROS EMPLEADOS CUENTAN CON EL CONOCIMIENTO BASICO DE LAS HERRAMIENTAS QUE OFRECEMOS E IGUALMENTE POSEEN VALORES PARA BRINDAR UN EXCELENTE SERVICIO AL CLIENTE.</p>
    </div>
  </div>
  <br>
  <br>
  <div class="card">
    <h5 class="card-header" style="background-color: #F77E21;text-align: right;">Q.¿CUALES SON LAS FORMAS DE PAGO?</h5>
    <div class="card-body" style="text-align:right;background-color:antiquewhite;">
      <h5 class="card-title">ANSWER:</h5>
      <p class="card-text">NUESTROS METODOS DE PAGOS MEDIANTE COMPRAS ONLINE SON POR PAYPAL, MERCADO PAGOS Y TARJETAS DE DEBITO/CREDITO PARTICIPANTES.</p>
    </div>
  </div>
  <br>
  <br>


  
