.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background-color: #0C3AB7;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.imgestat{
    position: relative;
    padding: 0% 10%;
}
form{
    position: sticky;
    top: 100%;
    bottom: 100%;
    width: 100%;
}
body{
    position: relative;
    padding-bottom: 2% 0%;
    display: flex;
    flex-direction: column;
    min-width: 100%;
}
div #footer{
background-color: #004a8d;
}
.fortive{
    position: relative;
    padding-bottom: 2% 0% ;
}
.gradient-custom {
    /* fallback for old browsers */
    background: #93c7fb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgb(193, 187, 221), rgb(87, 219, 245));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgb(197, 190, 224), rgb(87, 219, 245,1));
}

    @media only screen and (max-width: 320px) {
        .card-columns {
            -moz-column-count: 1;
            -webkit-column-count: 1;
            column-count: 1;
        }
        body{
          align-self: start;
          height: 100vh;
          position: relative;
        }
        .imgestat{
            position: relative;
            padding: 0% 5%;
        }
    }
    
    @media only screen and (min-width: 321px) and (max-width: 640px){
        .card-columns {
            -moz-column-count: 2;
            -webkit-column-count: 2;
            column-count: 2;
        }
        body{
            align-self: start;
            height: 100vh;
        }
        .divxd{
            padding: 101px 0px;
        }
        .imgestat{
            position: relative;
            padding: 10px 10%;
        }
    }
    @media only screen and (min-width: 641px) and (max-width: 670px) and (max-width: 960px){
        .card-columns {
            -moz-column-count: 2;
            -webkit-column-count: 2;
            column-count: 2;
        }
        body{
            align-self: start;
            height: 110%;
            /* position: relative; */
        }
        .divxd{
            padding: 100px 100px;
        }
        .imgdx{
            padding: 0% 35%;
        }
        .imgestat{
            position: relative;
            padding: 0% 3%;
        }
        .formu{
            position: absolute;
            top: 9%;            
            bottom: 195%;
            width: 100%;
            padding: 1% 10%;
        }
    }
    @media only screen and (min-width: 961px) and (max-width: 1079px) {
        .card-columns {
            -moz-column-count: 4;
            -webkit-column-count: 4;
            column-count: 4;
        }
        body{    
            align-self: start;
            height: 100%;
            position: relative;                       
        }
        .imgdx{            
            padding: 0% 16%;
        }
        .imgestat{
            position: relative;
            padding: 0% 3%;
        }
        .divxd{
            padding: 2% 0%;
        }
        .formu{
            position: absolute;
            top: 35%;            
            bottom: 195%;
            width: 100%;
            padding: 1% 10%;
        }
    }
    @media only screen and (min-width: 1080px) and (max-width: 1280px){
        .card-columns {
            -moz-column-count: 4;
            -webkit-column-count: 4;
            column-count: 4;
        }
        body{    
            align-self: start;
            height: 100%;
            position: relative;                       
        }
        .imgdx{            
            padding: 0% 16%;
        }
        .imgestat{
            position: relative;
            padding: 0% 3%;
        }
        .divxd{
            padding: 2% 0%;
        }
        .formu{
            position: absolute;
            top: 21%;            
            bottom: 195%;
            width: 100%;
            padding: 1% 10%;
        }
    }
    @media only screen and (min-width: 1281px) and (max-width: 1600px){
        .card-columns {
            -moz-column-count: 4;
            -webkit-column-count: 4;
            column-count: 4;
        }
        body{
            align-self: start;
            height: 100%;  
            position: relative;      
        }
        .divxd{
            top:110%;
            padding: 190px 0px;
        }
        .imgestat{
            position: relative;
            padding: 10% 2%;
        }
    }
    @media only screen and (min-width: 1601px){
        .card-columns {
            -moz-column-count: 5;
            -webkit-column-count: 5;
            column-count: 5;
        }
        body{
            align-self: start;
            height: 100%;   
            position: relative;     
        }
        .divxd{
            padding: 110px 0px;
        }
        .imgestat{
            position: relative;
            padding: 15% 2%;
        }
    }
    @media only screen and (min-width: 1602px) and (max-width: 1920px){
        .card-columns {
            -moz-column-count: 5;
            -webkit-column-count: 5;
            column-count: 5;
        }
        body{
            align-self: start;
            height: 100%;      
            position: relative;
        }
        .divxd{
            padding: 170px 0px;
        }
        .imgestat{
            position: relative;
            padding: 10% 1%;
        }
    }

    @media only screen and (min-width: 75%) and (max-width: 1280px){
        .card-columns {
            -moz-column-count: 4;
            -webkit-column-count: 4;
            column-count: 4;
        }
        body{    
            align-self: start;
            height: 100%;
            position: relative;
        }
        .imgdx{            
            padding: 0px 130px;
        }
        .imgestat{
            position: relative;
            padding: 0% 3%;
        }
    }