<body class="gradient-custom">
  <section class="vh-100 gradient-custom">
    <div  class="vh-100 Login">
    <section id="containerlogin">
      <div class="carousel slide h-custom">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="imgestat col-sm-12 col-md-9 col-lg-6 col-xl-4">            
            <img src="/assets/LogoFerreFroog.png"
            class="container-fluid imgestat" title="Ferreteria Froog" alt="Logo">            
          </div>
          <div class="subir col-md-8 col-lg-6 col-xl-4 offset-xl-1 divxd">
            <form class="divxd formu">
              <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                <p class="lead fw-normal mb-0 me-3">Inicia Sesion con</p>
                <button type="button" class="btn btn-light btn-floating mx-1" role="button" aria-label="Google">
                  <img src="/assets/googleicon.png" width="15px" height="15px">
                </button>                
                <button type="button" class="btn btn-light btn-floating mx-1" role="button" aria-label="Facebook">
                  <img src="/assets/fbicon.svg"  width="15px" height="15px">
                </button>
              </div>                  
    
              <!-- Email input -->
              <div class="form-outline mb-2" role="form" aria-label="Email">
                <input type="email" id="form3Example3" class="form-control form-control-lg"
                  placeholder="Ingresa Un correo valido" [(ngModel)]="usuario.email"/>
                <label class="form-label" for="form3Example3" role="" aria-label="Email">Direccion de Email</label>
              </div>
    
              <!-- Password input -->
              <div class="form-outline mb-2" role="form" aria-label="Contraseña">
                <input type="password" id="form3Example4" class="form-control form-control-lg"
                  placeholder="Ingresa tu Contraseña"  [(ngModel)]="usuario.password"/>
                <label role="" aria-label="" class="form-label" for="form3Example4">Contraseña</label>
              </div>
                                
              <div class="text-center text-lg-start">
                <button type="button" class="btn btn-primary btn-lg"
                  style="padding-left: 2.5rem; padding-right: 2.5rem;" role="Button" routerLink="/productos" (click)="opc()">Login</button>
                <p class="small fw-bold pt-1">No tienes una cuenta? <a   class="nav-link" routerLink="/register"
                    class="link-danger">Registrate</a></p>
              </div>
    
            </form>
          </div>
        </div>
      </div>  
    </section>
    </div>
    </section>
</body>
