.divider:after,
.divider:before {
content: "";
flex: 100%;
height: 100%;
background-color: #0C3AB7;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 720px) {
.h-custom {
height: 100%;
}
}
.imgestat{
    position: relative;
    padding: 0% 10%;
}

form{
    position: sticky;
    top: 100%;
    bottom: 100%;
    width: 100%;
}
div #footer{
background-color: #004a8d;
}
.fortive{
    position: relative;
    padding-bottom: 2% 0% ;
}
.gradient-custom {
    /* fallback for old browsers */
    background: #93c7fb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgb(193, 187, 221), rgb(87, 219, 245));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgb(197, 190, 224), rgb(87, 219, 245,1));
}

    @media only screen and (max-width: 320px) {
        .card-columns {
            -moz-column-count: 1;
            -webkit-column-count: 1;
            column-count: 1;
        }
        body{
          align-self: start;
          height: 100%;
          position: relative;
        }
        .formu{
            position: relative;
            top: 0%;            
            bottom: 5%;
            width: 100%;
            padding: 7% 10%;            
        }
        .imgestat{
            position: relative;
            padding: 0% 99%;
        }
        .divxd{
            padding: 2% 0%;
        }
    }
    
    @media only screen and (min-width: 321px) and (max-width: 640px){
        .card-columns {
            -moz-column-count: 2;
            -webkit-column-count: 2;
            column-count: 2;
        }
        section{
            padding: 0 0;
        }
        button{
            padding: 0 2%;
        }
        body{
            align-self: start;
            height: 100%;
            position: relative;
            width: 100%;
        }
        .divxd{
            padding: 2% 0%;
        }
        .formu{
            position: absolute;
            top: 0%;            
            bottom: 15%;
            width: 96%;
            padding: 7% 5%;            
        }
        .imgestat{
            position: relative;
            padding: 0 0;
        }
        input{
            padding: 10% 5%;
        }
    }
    @media only screen and (min-height: 320px ) and (max-height: 483px){
        .card-columns {
            -moz-column-count: 1;
            -webkit-column-count: 1;
            column-count: 1;
        }
        section{
            padding: 0 40%;
        }
        button{
            padding: 0 2%;
        }
        body{    
            align-self: start;
            height: 100%;
            position: relative;                       
        }
        .imgestat{
            padding: 0% 20%;
        }
        .formu{
            padding: 0% 5%;
        }
        input{
            padding: 0 10%;
        }
    }
    @media only screen and (min-height:484px) and (max-height:720px){
        .card-columns {
            -moz-column-count: 3;
            -webkit-column-count: 3;
            column-count: 3;
        }
        body{
            height: 100%;            
            position: relative;
        }
        section{            
            padding: 0 5%;
        }
        .imgestat{
            position: relative;
            padding: 0% 35%;
        }
        input{
            padding: 0 0;
        }
        .formu{
            position: relative;
            padding: 0% 5%;
        }
        span,p{
            font-size: 12px;
        }
    }
    @media only screen and (min-height:721px) and (max-height:1080px){
        .card-columns {
            -moz-column-count: 3;
            -webkit-column-count: 3;
            column-count: 3;
        }
        body{
            height: 100%;            
            position: relative;
        }
        section{            
            padding: 0 5%;
        }
        .imgestat{
            position: relative;
            padding: 0% 15%;
        }
        input{
            padding: 0 0;
        }
        .formu{
            position: relative;
            padding: 0% 5%;
        }
        span,p{
            font-size: 18px;
        }
    }
    @media only screen and (min-width: 641px) and (max-width: 960px){
        .card-columns {
            -moz-column-count: 2;
            -webkit-column-count: 2;
            column-count: 2;
        }
        body{
            align-self: start;
            height: 100%;
            position: relative;
            width: 100%;
        }
        .divxd{
            padding: 3% 0%;
        }
        section{
            padding: 0 6%;
        }
        .imgestat{
            position: relative;
            padding: 0% 25%;
        }
        .formu{
            position: absolute;
            top: 2%;                        
            padding: 0% 5%;            
        }
        span,p{
            font-size: 20px;
        }
    }
    @media only screen and (min-width: 961px) and (max-width: 991px) {
        .card-columns {
            -moz-column-count: 4;
            -webkit-column-count: 4;
            column-count: 4;
        }
        body{    
            align-self: start;
            height: 100%;
            position: relative;                       
        }
        .imgestat{
            position: relative;
            padding: 0% 15%;
        }
        .divxd{
            padding: 2% 0%;
        }
        .formu{
            position: absolute;
            top: 35%;            
            bottom: 195%;
            width: 100%;
            padding: 1% 10%;
        }
        span,p{
            font-size: 22px;
        }
    }
    @media only screen and (min-width: 992px) and (max-width: 1280px){
        .card-columns {
            -moz-column-count: 4;
            -webkit-column-count: 4;
            column-count: 4;
        }
        body{                
            height: 100%;            
            position: relative;                       
        }
        section{
            padding: 0 5%;
        }
        .imgestat{
            position: relative;
            padding: 15% 10%;
        }
        .divxd{
            padding: 0 0%;
        }
        .formu{
            position: relative;            
            width: 100%;
            padding: 0 10%;
        }
        span,p{
            font-size: 22px;
        }
    }
    @media only screen and (min-width: 1281px) and (max-width: 1513px){
        .card-columns {
            -moz-column-count: 4;
            -webkit-column-count: 4;
            column-count: 4;
        }
        body{
            align-self: start;
            height: 100%;  
            position: relative;      
        }
        section{
            padding: 2% 5%;
        }
        .divxd{
            top:150%;
            padding: 2% 0%;
        }
        .imgestat{
            position: relative;
            padding: 5% 5%;
        }
        .formu{
            padding: 10% 5%;
        }
    }
    @media only screen and (min-width: 1514px) and (max-width: 1601px){
        .card-columns {
            -moz-column-count: 5;
            -webkit-column-count: 5;
            column-count: 5;
        }
        body{
            align-self: start;
            height: 100%;   
            position: relative;     
        }
        .divxd{
            padding: 110px 0px;
        }
        .imgestat{
            position: relative;
            padding: 15% 2%;
        }
    }
    @media only screen and (min-width: 1602px) and (max-width: 1920px){
        .card-columns {
            -moz-column-count: 5;
            -webkit-column-count: 5;
            column-count: 5;
        }
        body{
            align-self: start;
            height: 100%;      
            position: relative;
        }
        .divxd{
            padding: 10px 0px;
        }
        .imgestat{
            position: relative;
            padding: 5% 1%;
        }
    }

    @media only screen and (max-width: 50%){
        .card-columns {
            -moz-column-count: 3;
            -webkit-column-count: 3;
            column-count: 3;
        }
        div{
            position: relative;  
            top: 50%;        
            padding: 7% 10%;            
        }
        .formu{
            position: relative;
            top: 50%;            
            bottom: 15%;
            height: 50%;
            width: 96%;
            padding: 7% 10%;            
        }
    }
    @media only screen and (min-width: 25%) and (max-width: 200%){
        .card-columns {
            -moz-column-count: 4;
            -webkit-column-count: 4;
            column-count: 4;
        }
        body{    
            align-self: start;
            height: 100%;
            bottom: 0;
            position: relative;
            
        }
        .imgestat{
            position: relative;
            padding: 0% 3%;
        }
        div{
            position: relative;              
            padding: 7% 10%;            
        }
        .formu{
            position: relative;            
            bottom: 15%;
            height: 50%;
            width: 96%;
            padding: 7% 10%;            
        }
        section{
            height: 100%;
        }
    }