.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background-color: #0C3AB7;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

div #footer{
background-color: #004a8d;
}
.gradient-custom {
    /* fallback for old browsers */
    background: #93c7fb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgb(193, 187, 221), rgb(87, 219, 245));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgb(197, 190, 224), rgb(87, 219, 245,1));
}

    @media only screen and (max-width: 320px) {
        .card-columns {
            -moz-column-count: 1;
            -webkit-column-count: 1;
            column-count: 1;
        }
        body{
          align-self: start;
          height: 100vh;
        }
        .divxd{
            padding: 101px 0px;
        }
    }
    
    @media only screen and (min-width: 321px) and (max-width: 640px){
        .card-columns {
            -moz-column-count: 2;
            -webkit-column-count: 2;
            column-count: 2;
        }
        body{
            align-self: start;
            height: 100vh;
        }
        .divxd{
            padding: 101px 0px;
        }
    }
    @media only screen and (min-width: 641px) and (max-width: 960px){
        .card-columns {
            -moz-column-count: 2;
            -webkit-column-count: 2;
            column-count: 2;
        }
        body{
            align-self: start;
            height: 100vh;
        }
        .divxd{
            padding: 130px 100px;
        }
        .imgdx{
            padding: 15px 160px;
        }
        .pxd{            
            padding: 0px 50px;
        }
    }
    @media only screen and (min-width: 961px) and (max-width: 1280px){
        .card-columns {
            -moz-column-count: 4;
            -webkit-column-count: 4;
            column-count: 4;
        }
        body{    
            align-self: start;
            height: 98vh;
        }
        .imgdx{            
            padding: 0px 130px;
        }
        .pxd{            
            padding: 0px 60px;
        }
    }
    @media only screen and (min-width: 1281px) and (max-width: 1600px){
        .card-columns {
            -moz-column-count: 4;
            -webkit-column-count: 4;
            column-count: 4;
        }
        body{
            align-self: start;
            height: 92vh;        
        }
        .divxd{
            top:110%;
            padding: 190px 0px;
        }
        .pxd{            
            padding: 0px 70px;
        }
    }
    @media only screen and (min-width: 1601px){
        .card-columns {
            -moz-column-count: 5;
            -webkit-column-count: 5;
            column-count: 5;
        }
        body{
            align-self: start;
            height: 90vh;        
        }
        .divxd{
            padding: 120px 0px;
        }
        p{
            font-size: 22px;
            padding: 3px 20px;
        }
        .pxd{            
            padding: 0px 100px;
        }
    }
    @media only screen and (min-width: 1602px) and (max-width: 1920px){
        .card-columns {
            -moz-column-count: 5;
            -webkit-column-count: 5;
            column-count: 5;
        }
        body{
            align-self: start;
            height: 90vh;      
        }
        .divxd{
            padding: 170px 90px;
        }
        p{
            font-size: 32px;
        }
        label{
            font-size: 22px;
        }
    }
